<mat-toolbar>Check Weather</mat-toolbar>
<div class="content">
  <div class="flex-row">
    <mat-form-field>
      <mat-label>Select city</mat-label>
      <mat-select [formControl]="cityControl" multiple>
        <mat-option *ngFor="let city of cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select units</mat-label>
      <mat-select [formControl]="unitsControl">
        <mat-option *ngFor="let unit of units" [value]="unit.value">
          {{unit.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="weather-report">
    <app-weather-report [citiesData]="citiesData"></app-weather-report>
  </div>
</div>
